.post
{
  display: inline-block;
  text-decoration: none;
  background: #2f2f2f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 99%;
}
