@font-face
{
  font-family: 'SourceSans';
  src: url('/font/SourceSansPro-Regular.ttf');
}
@font-face
{
  font-family: 'SourceSans-Bold';
  src: url('/font/SourceSansPro-Bold.ttf');
}

a:link
{ color: #FFF; }
a:visited
{ color: #FFF; }
a:hover
{ color: #FFF; }
a:active
{ color: #FFF; }

html
{
  height: 100%;
  min-height: 100%;
}

body
{
  font-family: 'SourceSans';
  background: url("/img/bg.png");
  text-align: center;
  margin: 0;
  padding: 0;
  color: #FFF;
  height: 100%;
  min-height: 100%;
}

.column
{
  background-color: #1f1f1f;
  margin: 0 auto;
  min-width: 1126px;
  width: 66%;
  text-align: left;
  overflow: hidden;
  padding: 1px;
  border: 1px solid #FFF;
  border-top: none;
}

.header
{
  text-align: center;
  height: 283px;
  background: url("/img/header.png");
  background-repeat: no-repeat;
  margin-left: 20px;
}

.header_spacing
{
  padding-top: 20px;
}

.header_spacing_2
{
  padding-top: 40px;
}

.content
{
  height: 100%;
  min-height: 100%;
  float: left;
}

.content_blog
{
  margin: 0px 20px 20px 20px;
}

.content_about
{
  width: 75%;
  border-right: 1px solid #FFF;
  padding-right: 10px;
  margin: 0px 0px 20px 20px;
}

.content_gallery
{
  min-width: 850px;
  width: 70%;
  height: 700px;
  max-height: 700px;
  overflow-y: auto;
  border-left: 1px solid #FFF;
  padding-left: 20px;
  margin: 10px 0px 20px 10px;
}
