.side_bar_vr
{
  background-color: #FFF;
  width: 1px;
  height: 100%;
  float: left;
}

.side_bar
{
  width: 20%;
  text-align: left;
  margin-top: -20px;
  padding-left: 20px;
  float: left;
}

.side_bar_title
{
  font-weight: normal;
}

.side_bar_image
{
  vertical-align: middle;
}

.side_bar_link
{
  margin-top: 10px;
}
